@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>            
        </div>
    </section>
}
<h3>We have mainly three Users for this project</h3>
<ol class="round">
    <li class="one">
        <h5>Agent</h5>
        Agent is responsible for manay data to day transactions.
    </li>
    <li class="two">
        <h5>Doctor</h5>
        Doctor is responsible for distributing package in addition to all day to day transactions.
    </li>
    <li class="three">
        <h5>Manager</h5>
        Responsible for monitoring the project. He will view the report and do the action accordingly.
    </li>
</ol>
